@charset "utf-8";

/* reset */
* {margin: 0; padding: 0; box-sizing:border-box;}
ul, ol {list-style-type: none;}
h1 {margin: 0;}
a {text-decoration: none;}
button {border: none; background: none; text-indent: -9999px; cursor: pointer;}
img {border: none;}
html {font-size: 0.625em;}
.blind {position: absolute; top: -9999px; left: -9999px;}
.clear:after {content: ""; display: block; clear: both;}
.pc {display: none;}
audio,canvas{display:inline-block;}

/* 모바일용 CSS */
/* 기본 CSS */
#wrap{
    width:100%;
    margin:0 auto;
    overflow-x:hidden;
}

/* header part - 공통 */
.navbar{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    position:absolute;
    top:0;
    left:0;
    z-index:2;
}

h1 {
    position: absolute; 
    top:21px;
    left: 4%; 
    width: 70px;
}

h1 img{
    width:100%;
}

.navbar_menu{
    display: none;
    flex-direction:column;
    align-items:center;
    width:100%;
    height:455px;
    padding-top:138px;
    text-align:center;
}

.navbar_menu li{
    width:100%;
    text-align:center;
}

.navbar_menu li a{
    color:#fff;
    font-family: 'SBAggroM';
    font-size:4.3rem;
    line-height:80px;
}

.navBtn{
    position: absolute; top: 47px; right: 4%;
	width: 22px; height: 18px;
}

.navBtn span {
	display: block; 
	height: 2px; margin: 6px 0; border-radius: 5px;
	background: #fff;
}

.navBtn:before, .navBtn:after {
	content: "";
	display: block;
	height: 2px; border-radius: 5px;
	background: #fff;
}

.navbar_menu.active
{
    background:#000;
    display:flex;
}

.welcomeInfo.deactive{
    display:none;
}

/* index.html */
/* index.html - section01_welcome CSS */
.intro{
    position: relative;
    width:100%;;
}

.welcome{
    position: relative;
    width:100%;
    height:455px;
    background:url('../img/p_image/index/section_welcome_bg.png') no-repeat center/cover;
    text-align:center;
    z-index:1;
}

.visual .welcomeInfo{
    position: absolute; 
    top: 190px; 
    width:100%;
    text-align: center;
    z-index: 2; 
}

.welcome_text {
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    width: 100%;
    font-family: 'SBAggroB';
    font-size: 5rem;
    color:#fff;
}

.welcome_text span {
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    opacity: 0;
    transform: perspective(100px) translateZ(10px);
    filter: blur(10px);
}

.welcome_text span.active {
    opacity: 1;
    transform: perspective(100px) translateZ(0px);
    filter: blur(0px);
    letter-spacing: 0.15em;
    transition: opacity 1000ms linear, transform 1000ms linear, filter 400ms linear, letter-spacing 1000ms linear;
}

.welcome_text span.past {
    opacity: 0;
    transform: perspective(100px) translateZ(-10px);
    filter: blur(10px);
    letter-spacing: 0.2em;
    transition: opacity 1000ms linear, transform 1000ms linear, filter 400ms linear, letter-spacing 1000ms linear;
}

.make_car{
    height:6rem;
    /* overflow-y:hidden; */
    /* position:relative; */
}

.welcomeInfo a{
    display: inline-block;
    width:170px;
    height:50px;
    border-radius:45px;
    background:#fff;
    font-family:'SBAggroB';
    font-size: 2rem;
    line-height:54px;
    margin-top:80px
}

/* index.html - section_logo */
.content {
	width: 100%;
	height: 355px;
	position: relative;
	top:0;
    background:#000;
}

.logo_big{
    display:flex;
    width:100%;
    height:355px;
    justify-content:center;
    align-items:center;
    position:relative;
    overflow:hidden;
}

.logo_big .logoBg{
    position: absolute;
    width:200px;
    height:200px;
    text-indent:-9999px;
    background:url('../img/s_image/bmw_logo_w.png') center/contain no-repeat;
}

/* index.html - section list */
.list{
    width:100%;
    height:323px;
    text-align:center;
}

.list_slider_x7{
    width:100%;
    height:323px;
    background:url('../img/p_image/index/section_list_x7.png') center/cover no-repeat;
}

.list_slider_i7{
    width:100%;
    height:323px;
    background:url('../img/p_image/index/section_list_i7.png') center/cover no-repeat;
}

.list_slider_online{
    width:100%;
    height:323px;
    background:url('../img/p_image/index/section_list_online_shop.png') center/cover no-repeat;
}

.slider_list .list_info p{
    font-family: 'SBAggroB';
    font-size:9rem;
    color:#fff;
    padding:70px 0 50px;
}

.slider_list .list_slider_online p{
    padding:70px 0 50px;
    font-size:5rem;
}

.slider_list .list_info a{
    display: inline-block;
	width: 250px; height: 70px; 
    border: none;
	background: rgba(255,255,255,.3);
	color: #fff; 
    font-family: 'SBAggroM';
    font-size: 4rem; 
    line-height: 80px;
}

/* index.html - section discover */
.discover{
    width:100%;
    background:#000;
    padding-bottom:20px;
}

/* discover top_list */
.discover .top_list{
    width:100%;
    height:562px;
}

.top_list .text{
    width:100%;
    height:262px;
    background:#000;
    text-align:center;
    position: relative;
}

.top_list .text p{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'SBAggroB';
    color:#fff;
    font-size:5.5rem;
    line-height:80px;
    animation: neon1 1.5s ease-in-out infinite alternate;
}

@keyframes neon1 {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #F2F2F2
    }

    to {
        text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #F2F2F2
    }
}

.top_list .video{
    position: relative;
    width:100%;
    height:100%;
    height:0;
    padding-top:45%;
}

.video > iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* index.html - discover_list */
.discover_list{
    width:100%;
}

.discover_slider_ix3{
    width:100%;
    border-radius:36px;
    background:#ffffff;
    padding:41px 0 27px;
    text-align:center;
    margin-bottom:20px;
    margin-left:20px;
}

.discover_slider_ix3 .discover_info{
    width:88%;
    height:0px;
    padding-bottom:56.233%;
    background:url('../img/p_image/index/section_discover_ix3.png') center/cover no-repeat;
    border-radius:36px;
    margin:28px auto;
}

.discover_slider_ix3 a{
    display: inline-block;
	width: 180px; 
    height: 35px;
    border: none;
	background:#f2f2f2;
	color: #000; 
    font-family: 'SBAggroM';
    font-size: 1.8rem; 
    line-height: 40px;
    text-align:center;
}

.discover_slider_ix3 a:hover{
    color:#0867b0;
}

.discover_slider_ix{
    width:100%;
    border-radius:36px;
    background:#ffffff;
    padding:41px 0 27px;
    text-align:center;
    margin-bottom:20px;
    margin-left:20px;
}

.discover_slider_ix .discover_info{
    width:88%;
    height:0px;
    padding-bottom:56.219%;
    background:url('../img/p_image/index/section_discover_ix.png') center/cover no-repeat;
    border-radius:36px;
    margin:28px auto;
}

.discover_slider_ix a{
    display: inline-block;
	width: 180px; 
    height: 35px;
    border: none;
	background:#f2f2f2;
	color: #000; 
    font-family: 'SBAggroM';
    font-size: 1.8rem; 
    line-height: 40px;
    text-align:center;
}

.discover_slider_ix a:hover{
    color:#0867b0;
}

.discover_slider_i4{
    width:100%;
    border-radius:36px;
    background:#fff;
    padding:41px 0 27px;
    text-align:center;
    margin-left:20px;
}

.discover_slider_i4 .discover_info{
    width:88%;
    height:0px;
    padding-bottom:56.271%;
    background:url('../img/p_image/index/section_discover_i4.png') center/cover no-repeat;
    border-radius:36px;
    margin:28px auto;
}

.discover_slider_i4 a{
    display: inline-block;
	width: 180px; 
    height: 35px;
    border: none;
	background:#f2f2f2;
	color: #000; 
    font-family: 'SBAggroM';
    font-size: 1.8rem; 
    line-height: 40px;
    text-align:center;
}

.discover_slider_i4 a:hover{
    color:#0867b0;
}

.discover_info_text{
    text-align:center; 
    padding-top:50%;
    transform: translateY(-40%);
    line-height:28px;
}

.discover_info_text p{
    display:block;
    font-family: 'SBAggroM';
    font-size:1.5rem;
    color:#fff;
}

.discover_info_text span{
    font-family: 'SBAggroM';
    font-size:2rem;
    color:#fff;
}

.discover_btn .prevArrow, .discover .nextArrow{
    text-indent:-9999px;
}

.discover_btn{
    width:100%;
    margin-top:20px;
    text-align:center;
}

.discover_btn .prevArrow{
    width:30px;
    height:30px;
    background:url('../img/s_image/arrow_icon_left_w.png') center/contain no-repeat;
}

.discover_btn .nextArrow{
    width:30px;
    height:30px;
    background:url('../img/s_image/arrow_icon_right_w.png') center/contain no-repeat;
    margin-left:27px;
}

/* index.html - section use */
.use{
    width:100%;
    background:#0867b0;
    padding-bottom:20px;
}

.content_u{
	width: 100%;
	height: 239px;
	position: relative;
}

.use_text{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 100%;
    text-align:center;
}

svg{
    width: 60%;
    height: 60%;
}

svg path {
    fill: transparent;
    stroke-dasharray: 250px;
    animation: stroke 2s linear infinite;
    animation-fill-mode: forwards;
}

svg path:nth-child(1) {
    animation-delay: 0.2s;
}

svg path:nth-child(2) {
    animation-delay: 0.4s;
}

svg path:nth-child(3) {
    animation-delay: 0.6s;
}

svg path:nth-child(4) {
    animation-delay: 0.8s;
}

svg path:nth-child(5) {
    animation-delay: 1s;
}

svg path:nth-child(6) {
    animation-delay: 1.2s;
}

svg path:nth-child(7) {
    animation-delay: 1.4s;
}

svg path:nth-child(8) {
    animation-delay: 1.6s;
}

svg path:nth-child(9) {
    animation-delay: 1.8s;
}

svg path:nth-child(10) {
    animation-delay: 2.0s;
}

@keyframes stroke {
    0% {
        stroke: #FFF;
        stroke-width: 3px;
        stroke-dashoffset: 326px;
    }
    100% {
        fill: #FFF;
        stroke-dashoffset: 0px;
    }
}

.use_list{
    width:100%;
    height:100%;
    background:#0867b0;
}

.use_rect{
    width:100%;
    background:#f2f2f2;
    border-radius:55px;
    text-align:center;
    padding:51px 0 20px;
    margin-bottom:20px;
    margin-left:20px;
} 

.center{
    width:89%;
    padding-bottom:50%;
    background:url('../img/p_image/index/section_use_center.png') center/cover no-repeat;
    margin:0 auto;
    border-radius:125px;
}

.plus{
    width:89%;
    padding-bottom:50%;
    background:url('../img/p_image/index/section_use_plus.png') center/cover no-repeat;
    margin:0 auto;
    border-radius:125px;
}

.vantage{
    width:89%;
    padding-bottom:50%;
    background:url('../img/p_image/index/section_use_vantage.png') center/cover no-repeat;
    margin:0 auto;
    border-radius:125px;
}

.use_rect a p{
    color:#000;
    font-family: 'SBAggroB';
    font-size:4.5rem;
    line-height:72px;
    margin-top:40px;
}

.use_rect a p:after{
    content: "";
    display: block;
    width: 150px;
    border-bottom: 2px solid #000;
    margin: 5px auto 10px;
}

.use_rect a span{
    color:#000;
    font-family: 'SBAggroL';
    font-size:2.5rem;
}

.use_btn{
    width:100%;
    margin-top:20px;
    text-align:center;
}

.use_btn .use_prevArrow{
    width:30px;
    height:30px;
    background:url('../img/s_image/arrow_icon_left_w.png') center/contain no-repeat;
}

.use_btn .use_nextArrow{
    width:30px;
    height:30px;
    background:url('../img/s_image/arrow_icon_right_w.png') center/contain no-repeat;
    margin-left:27px;
}

/* footer - 공통 */
.footer{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    background:#f2f2f2;
    text-align:center;
    padding:16px 0 20px;
}

.logo_footer{
    width:100%;
    text-align:center;
}

.logo_footer img{
    width:73px;
    height:73px;
}

.bmw{
    width:100%;
    text-align:center;
    padding-top:20px;
    font-family: 'SBAggroM';
    font-size:2.3rem;
}

.bmw_list{
    flex-direction:column;
    align-items: center;
    width:100%;
    padding-top:20px;
}

.bmw_list li{
    width:100%;
    text-align:center;
}

.bmw_list li a{
    font-family: 'SBAggroL';
    font-size:1.1rem;
    line-height:20px;
}

.footer_top .footer_list:after{
    content: "";
    display: block;
    width: 300px;
    border-bottom: 1px solid #000;
    margin: 10px auto;
}

.footer_bottom .sns{
    width: 100%;
    text-align: center;
}

.footer_bottom .sns a {
	display: inline-block;
	width: 26px; height: 26px; margin-right: 22px;
	background: url(../img/s_image/facebook_icon.png) no-repeat center/contain;
	text-indent: -9999px;
}

.footer_bottom .sns a:nth-child(2) {
	background-image: url(../img/s_image/instagram_icon.png);
}

.footer_bottom .sns a:nth-child(3) {
	background-image: url(../img/s_image/twitter_icon.png);
}

.footer_bottom .sns a:nth-child(4) {
	background-image: url(../img/s_image/youtube_icon.png);
    margin-right:0;
}

/* company.html + model.html */
.intro_company, .intro_model{
    width: 100%;
}

.bmw_intro{
    height:455px;
    background:url('../img/p_image/company/section1_bg.png') center/cover no-repeat;
}

.ix_intro{
    height:455px;
    background:url('../img/p_image/model/section1_bg.png') center/cover no-repeat;
}

.intro_text{
    width: 100%;
    text-align: center;
    padding-top:142px;
}

.intro_text h2{
    font-family: 'SBAggroB';
    font-size:5rem;
    color:#fff;
    line-height:45px;
}

.intro_text span{
    font-size:3rem;
}

.intro_text:after{
    content: "";
    display: block;
    width: 105px;
    border-bottom: 2px solid #fff;
    margin: 0px auto;
    padding-top:5px;
}

.pc_mid{
    display:none;
}

.intro_info{
    width:61%;
    margin: 32px auto;
    font-family: 'SBAggroL';
    color:#fff;
    font-size:1.7rem;
    line-height:28px;
    text-align: center;
}
/* company.html - intro section */

.korea, .social, .vision, .finance{
    width: 100%;
    height:570px;
}

.korea, .vision{
    background:#fff;
}

.social, .finance{
    background:#000;
}

canvas{
    display:block;
}

#particles-js, #particles-js3{
    width:100%;
    height:235px;
    background-color: #ffffff;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    z-index:0;
}

#particles-js2, #particles-js4{
    width:100%;
    height:235px;
    background-color: #000;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    z-index:0;
}

.text_part_l, .text_part_r{
    width: 100%;
    height:235px;
    position:relative;
    z-index:1;
}

.text_part_l h2, .text_part_r h2{
    font-family: 'SBAggroB';
    font-size:8rem;
    text-align: center;
    line-height:64px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.text_part_l h2{
    color:#000;
}

.text_part_r h2{
    color:#fff;
}

.text_part_l h2:after{
    content: "";
    display: block;
    width: 130px;
    border-bottom: 2px solid #000;
    margin: 0px auto;
    padding-top:8px;
}

.vision .text_part_l h2:after{
    width: 60px;
    padding-top:8px;
}

.text_part_r h2:after{
    content: "";
    display: block;
    width: 130px;
    border-bottom: 2px solid #fff;
    margin: 0px auto;
    padding-top:8px;
}

.text_part_l span, .text_part_r span{
    font-size:4rem;
}

.list_part_r, .list_part_l{
    width: 100%;
    height:335px;
}

.list_part_r{
    background:#0867b0;
    border-radius:57px;
    padding-top:50px;
}

.list_part_l{
    background:#f2f2f2;
    border-radius:57px;
    padding-top:50px;
}


.korea .list_img{
    width:85.333%;
    height:160px;
    background:url('../img/p_image/company/section2_list_bg.png') center/cover no-repeat;
    border-radius:20px;
    margin:0 auto;
}

.social .list_img{
    width:85.333%;
    height:160px;
    background:url('../img/p_image/company/section3_list_bg.png') 50% 5%/cover no-repeat;
    border-radius:20px;
    margin:0 auto;
}


.vision .list_img{
    width:85.333%;
    height:160px;
    background:url('../img/p_image/company/section4_list_bg.png') 50% 20%/cover no-repeat;
    border-radius:20px;
    margin:0 auto;
}

.finance .list_img{
    width:85.333%;
    height:160px;
    background:url('../img/p_image/company/section5_list_bg.png') center/cover no-repeat;
    border-radius:20px;
    margin:0 auto;
}


.list_part_info_r, .list_part_info_l{
    width:85.333%;
    margin:0 auto;
    font-family: 'SBAggroL';
    font-size:1.4rem;
    line-height:24px;
    text-align: center;
    padding-top:29px;
}

.list_part_info_r{
    color:#fff;
}
/* company.html - bmw korea section ~ bmw finance section */
.content_com{
    position: absolute;
    width:100%;
    height:558px;
    top:0;
    left:0;
}

.company_discover{
    width: 100%;
    height:558px;
    padding: 50px 7.33% 30px;
    position: relative;
}

.dis_img{
    width:85.333%;
    height: 155px;
    border-radius:155px;
    background:url('../img/p_image/company/section6_list_bg.png') 50% 30%/cover no-repeat;
    margin:0 auto;
    position:relative;
}

.dis_img p{
    font-family: 'SBAggroB';
    font-size:3.5rem;
    color:#fff;
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.dis_list{
    width: 100%;
    margin:0 auto;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-around;
}

.list1{
    width: 40.845%;
    height:73px;
    background:#fff;
    border-radius:20px;
    margin-top:40px;
    position: relative;
}

.list1 a{
    font-family: 'SBAggroL';
    font-size:1.8rem;
    line-height:25px;
    color:#0867b0;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
}

/* model.html */
.recommend{
    width: 100%;
    background:#000;
    padding-bottom:20px;;
}

.top_rec .text_rec{
    width:100%;
    height:220px;
    background:#000;
    text-align:center;
    position: relative;
}

.top_rec .text_rec_t{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'SBAggroB';
    color:#fff;
    font-size:4.5rem;
    line-height:80px;
}

.recommend_list{
    width: 100%;
}

.recommend_slider_cope, .recommend_slider_sport, .recommend_slider_plus{
    width:100%;
    border-radius:36px;
    background:#ffffff;
    padding:0 0 25px;
    text-align:center;
    margin-left:20px;
}

.recommend_slider_cope .recommend_info{
    width:88%;
    padding-bottom:56.233%;
    background:url('../img/p_image/model/sectoin2_list1.png') center/cover no-repeat;
    border-radius:36px;
    margin:28px auto;
    position: relative;
}

.recommend_slider_sport .recommend_info{
    width:88%;
    padding-bottom:56.233%;
    background:url('../img/p_image/model/sectoin2_list2.png') center/cover no-repeat;
    border-radius:36px;
    margin:28px auto;
    position: relative;

}

.recommend_slider_plus .recommend_info{
    width:88%;
    padding-bottom:56.233%;
    background:url('../img/p_image/model/sectoin2_list3.png') center/cover no-repeat;
    border-radius:36px;
    margin:28px auto;
    position: relative;

}

.recommend_slider_cope a, .recommend_slider_sport a, .recommend_slider_plus a{
    display: inline-block;
	width: 180px; 
    height: 35px;
    border: none;
	background:#f2f2f2;
	color: #000; 
    font-family: 'SBAggroM';
    font-size: 1.8rem; 
    line-height: 40px;
    text-align:center;
}

.recommend_slider_cope a:hover, .recommend_slider_sport a:hover, .recommend_slider_plus a:hover{
    color:#0867b0;
}

.recommend_info_text{
    position:absolute;
    text-align:center; 
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.recommend_info_text p{
    display:block;
    font-family: 'SBAggroM';
    font-size:1.5rem;
    color:#fff;
    line-height:20px;
}

/* distance ~ design section */
.distance, .speed, .iDrive, .assistance, .design{
    width: 100%;
    height:495px;
}

.distance, .iDrive, .design{
    background:#fff;
}

.speed, .assistance{
    background:#000;
}

.ix_text_part_l, .ix_text_part_r{
    width: 100%;
    height:160px;
    position:relative;
    z-index:1;
}

.ix_text_part_l h2, .ix_text_part_r h2{
    font-family: 'SBAggroB';
    font-size:4rem;
    text-align: center;
    line-height:50px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.distance .ix_text_part_l h2, .ix_text_part_r h2{
    font-size:3.5rem;
    line-height:45px;
}

.ix_text_part_r h2{
    font-size:3.5rem;
    line-height:45px;
}

.ix_text_part_l h2{
    color:#000;
}

.ix_text_part_r h2{
    color:#fff;
}

.ix_list_part_r, .ix_list_part_l{
    width: 100%;
    height:335px;
}

.ix_list_part_r{
    background:#0867b0;
    border-radius:57px;
    padding-top:40px;
}

.ix_list_part_l{
    background:#f2f2f2;
    border-radius:57px;
    padding-top:30px;
}

.distance .ix_list_img{
    width:85.333%;
    height:160px;
    background:url('../img/p_image/model/sectoin3_list.png') center/cover no-repeat;
    border-radius:20px;
    margin:0 auto;
}

.speed .ix_list_img{
    width:85.333%;
    height:160px;
    background:url('../img/p_image/model/sectoin4_list.png') center/cover no-repeat;
    border-radius:20px;
    margin:0 auto;
}

.iDrive .ix_list_img{
    width:85.333%;
    height:160px;
    background:url('../img/p_image/model/sectoin5_list.png') center/cover no-repeat;
    border-radius:20px;
    margin:0 auto;
}

.assistance .ix_list_img{
    width:85.333%;
    height:160px;
    background:url('../img/p_image/model/sectoin6_list.png') center/cover no-repeat;
    border-radius:20px;
    margin:0 auto;
}

.design .ix_list_img{
    width:85.333%;
    height:160px;
    background:url('../img/p_image/model/sectoin7_list.png') center/cover no-repeat;
    border-radius:20px;
    margin:0 auto;
}

.ix_list_part_info_r, .ix_list_part_info_l{
    width:85.333%;
    margin:0 auto;
    font-family: 'SBAggroL';
    font-size:1.4rem;
    line-height:24px;
    text-align: center;
    padding-top:25px;
}

.ix_list_part_info_r{
    color:#fff;
}

/* 태블릿용 CSS */
@media all and (min-width:768px){
    /* index.html */
    h1 {
        position: absolute; 
        left: 3.9%; 
        top: 30px;
        width: 100px;
    }
    
    .navbar_menu{
        height:910px;
        padding-top:320px;
    }
    
    .navbar_menu li a{
        font-size:6rem;
        line-height:120px;
    }
    
    .navBtn{
        top: 64px; right: 3.9%;
        width: 46px; height: 28px;
    }
    
    .navBtn span {
        margin: 13px 0;
    }
     
    /* index.html - section01_welcome CSS */
    .welcome{
        height:910px;
    }

    .visual .welcomeInfo{
        top:380px;
    } 
    
    .welcome_text {
        font-size: 10rem;
    }
    
    .welcomeInfo a{
        width:280px;
        height:90px;
        font-size: 3rem;
        line-height:100px;
        margin-top:170px;
    }

    .welcomeInfo a:hover{
        background:#ff004b;
        color:#fff;
    }

    /* index.html - section_logo */
    .content {
        height: 715px;
    }

    .logo_big{
        height:715px;
    }

    .logo_big .logoBg{
        width:300px;
        height:300px;
    }

    /* index.html - section list */
    .list, .list_slider_x7, .list_slider_i7, .list_slider_online{
        height:642px;
    }

    .slider_list .list_info p{
        font-size:12rem;
        padding:184px 0 50px;
    }

    .slider_list .list_slider_online p{
        font-size:10rem;
        line-height:120px;
        padding:184px 0 50px;
    }
    
    .slider_list .list_info a{
        width: 360px; height: 98px; 
        font-size: 5rem; 
        line-height: 110px;
    }

    .slider_list .list_info a:hover{
        background:#fff;
        color:#000;
    }

    /* index.html - section discover */
    .discover .top_list{
        height:974px;
    }

    .top_list .text{
        height:300px;
    }
    
    .top_list .text p{
        font-size:7.5rem;
        line-height:90px;
    }
    
    .top_list .video{
        padding-top:68%;
    }

    .discover_list{
        width:100%;
    }

    .discover_slider_ix3{
        padding:46px 0 29px;
    }

    .discover_slider_ix3 .discover_info{
        width:91.146%;
        border-radius:36px;
        margin-bottom:40px;
    }

    .discover_slider_ix3 a{
        width: 300px; 
        height: 50px;
        font-size: 2.4rem; 
        line-height: 52px;
    }

    .discover_slider_ix{
        padding:46px 0 29px;
    }

    .discover_slider_ix .discover_info{
        width:91.146%;
        margin-bottom:40px;
    }

    .discover_slider_ix a{
        width: 300px; 
        height: 50px;
        font-size: 2.4rem; 
        line-height: 52px;
    }

    .discover_slider_i4{
        padding:46px 0 29px;
    }

    .discover_slider_i4 .discover_info{
        width:91.146%;
        margin-bottom:40px;
    }

    .discover_slider_i4 a{
        width: 300px; 
        height: 50px;
        font-size: 2.4rem; 
        line-height: 52px;
    }

    .discover_info_text{
        line-height:40px;
    }

    .discover_info_text p{
        font-size:2rem;
    }

    .discover_info_text span{
        font-size:3.2rem;
    }
    
    .discover_btn{
        margin:40px 0 20px;
    }
    
    .discover_btn .prevArrow{
        width:40px;
        height:40px;
    }
    
    .discover_btn .nextArrow{
        width:40px;
        height:40px;
        margin-left:30px;
    }

    /* index.html - section use */
    .content_u{
        height: 302px;
    }

    .use_list{
        background:#0867b0;
    }

    .use_rect{
        padding:100px 0 60px;
    } 

    .center, .plus, .vantage{
        width:78.125%;
        border-radius:300px;
    }

    .use_rect a p{
        font-size:7.2rem;
        line-height:90px;
        margin-top:75px;
    }

    .use_rect a p:after{
        width: 180px;
        margin: 10px auto 70px;
    }

    .use_rect a span{
        font-size:3.6rem;
    }

    .use_btn{
        margin:40px 0 20px;
    }
    
    .use_btn .use_prevArrow{
        width:40px;
        height:40px;
    }
    
    .use_btn .use_nextArrow{
        width:40px;
        height:40px;
        margin-left:30px;
    }

    /* footer 공통 */
    .footer{
        padding:20px 0 20px;
    }
    
    .logo_footer img{
        width:83px;
        height:83px;
    }

    .bmw{
        padding-top:22px;
        font-size:3.6rem;
    }

    .bmw_list{
        width:600px;
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        align-items: center;
        padding-top:40px;
    }

    .bmw_list li a{
        font-size:1.8rem;
    }

    .footer_top .footer_list:after{
        width:500px;
        margin: 20px auto;
    }

    .footer_bottom .sns a {
        width: 36px; height: 36px; margin-right: 28px;
    }

    /* company.html */
    .bmw_intro, .ix_intro{
        height: 910px;
    }

    .intro_text{
        padding-top:258px;
    }

    .intro_text h2{
        font-size:10rem;
        line-height:80px;
    }

    .intro_text span{
        font-size:5rem;
    }

    .intro_text:after{
        width: 210px;
        padding-top:8px;
    }

    .pc_mid{
        display:block;
    }

    .intro_info{
        width:92.188%;
        margin:45px auto;
        font-size:2.4rem;
        line-height:48px;
    }
    /* company.html - intro section */

    .korea, .social, .vision, .finance{
        height:946px;
    }

    #particles-js, #particles-js3{
        width:100%;
        height:346px;
        background-color: #ffffff;
        background-image: url('');
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        position: absolute;
        z-index:0;
    }

    #particles-js2, #particles-js4{
        width:100%;
        height:346px;
        background-color: #000;
        background-image: url('');
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        position: absolute;
        z-index:0;
    }

    .text_part_l, .text_part_r{
        height:346px;
    }

    .text_part_l h2, .text_part_r h2{
        font-size:12rem;
        line-height:90px;
        transform:translate(-50%, -40%);
    }

    .text_part_l span, .text_part_r span{
        font-size:6rem;
    }

    .text_part_l h2:after{
        width: 220px;
    }
    
    .vision .text_part_l h2:after{
        width: 100px;
    }
    
    .text_part_r h2:after{
        width: 220px;
    }

    .list_part_r, .list_part_l{
        height:600px;
    }

    .korea .list_img{
        width:92.188%;
        height:320px;
    }
    
    .social .list_img{
        width:92.188%;
        height:320px;
    }
    
    .vision .list_img{
        width:92.188%;
        height:320px;
    }
    
    .finance .list_img{
        width:92.188%;
        height:320px;
    }

    .list_part_info_r, .list_part_info_l{
        width:84.635%;
        margin:0 auto;
        font-family: 'SBAggroL';
        font-size:1.8rem;
        line-height:40px;
        text-align: center;
        padding-top:29px;
    }
    /* company.html - bmw korea section ~ bmw finance section */
    .content_com{
        height:1026px;
    }

    .company_discover{
        width: 100%;
        height:1026px;
        padding: 80px 7.813% 50px;
    }

    .dis_img{
        width:88.542%;
        height: 320px;
        background:url('../img/p_image/company/section6_list_bg.png') 50% -10%/cover no-repeat;
        margin-bottom:30px;
    }

    .dis_img p{
        font-size:7rem;
    }

    .list1{
        width: 33.854%;
        height:138px;
    }
    
    .list1 a{
        font-size:2.7rem;
        line-height:36px;
    }

    /* model.html */
    .top_rec .text_rec{
        height:260px;
    }

    .top_rec .text_rec_t{
        font-size:6rem;
        line-height:90px;
    }

    .recommend_slider_cope, .recommend_slider_sport, .recommend_slider_plus{
        padding:20px 0 20px;
    }

    .recommend_info{
        width:91.146%;
    }

    .recommend_slider_cope a, .recommend_slider_sport a, .recommend_slider_plus a{
        width: 300px; 
        height: 50px;
        font-size: 2.4rem; 
        line-height: 55px;
    }
    
    .recommend_info_text p{
        font-size:2rem;
        line-height:30px;
    }

    .distance, .speed, .iDrive, .assistance, .design{
        height:946px;
    }

    .ix_text_part_l, .ix_text_part_r{
        height:346px;
    }

    .ix_text_part_l h2, .ix_text_part_r h2{
        font-size:7.4rem;
        line-height:90px;
        transform:translate(-50%, -50%);
    }

    .distance .ix_text_part_l h2{
        font-size:6.4rem;
        line-height:85px;
    }

    .ix_list_part_r, .ix_list_part_l{
        height:600px;
        padding-top:50px;
    }
    
    .distance .ix_list_img, .speed .ix_list_img, .iDrive .ix_list_img, .assistance .ix_list_img, .design .ix_list_img{
        width:92.188%;
        height:320px;
    }

    .ix_list_part_info_r, .ix_list_part_info_l{
        width:84.635%;
        margin:0 auto;
        font-family: 'SBAggroL';
        font-size:1.7rem;
        line-height:40px;
        text-align: center;
        padding-top:29px;
    }
}

/* 1024 CSS */
@media all and (min-width:1024px){
    /* reset */
    .pc {display: block;}
    .mobile, .pc_mid {display:none;}

    .navbar{
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
    
    h1 {
        left: 3.125%; 
        top: 20px;
        width: 131px;
    }
    
    .navbar_menu{
        display:flex;
        flex-flow:row nowrap;
        justify-content:space-between;
        align-items:center;
        width:572px;
        height:57px;
        padding:0;
        text-align:center;
        border-radius:28px;
        background:#fff;
        position:absolute;
        top:54px;
    }
    
    .navbar_menu li{
        display:flex;
        justify-content:center;
        padding-left:17px;
        width:100%;
    }
    
    .navbar_menu li a{
        color:#000;
        font-family: 'SBAggroL';
        font-size:2.2rem;
        line-height:57px;
    }

    .login{
        display:block;
        background:#0867b0;
        position: absolute;
        right:3.125%; 
        top:54px;
        width:160px;
        height:57px;
        border-radius:28px;
        line-height:57px;
        text-align: center;
        font-family: 'SBAggroM';
        font-size:2.2rem;
    }

    .login a{
        color:#fff;
    }

    .login:hover{
        background:#ff004b;
    }
    /* section01_welcome CSS */
    .visual .welcomeInfo{
        top:350px;
    } 
    
    .welcome_text {
        font-size: 15rem;
    }

    .make_car{
        height:9rem;
        /* overflow:hidden; */
    }

    .welcomeInfo a{
        width:280px;
        height:90px;
        border-radius:45px;
        font-size: 3rem;
        line-height:100px;
        margin-top:200px;
    }

    .click_car{
        animation-name: grow;
        animation-duration: 1200ms;
    }
    
    @keyframes grow {
        from { transform: translateY(9rem) }
        to { transform: translateY(0) }
    }

    .welcomeInfo a:hover{
        background:#ff004b;
        color:#fff;
    }

    /* section_logo */
    .content {
        height: 700px;
    }

    .logo_big{
        height:700px;
    }

    .logo_big .logoBg{
        width:300px;
        height:300px;
    }

    /* section list */
    .list{
        height:650px;
    }

    .list_slider_x7,  .list_slider_i7, .list_slider_online{
        height:650px;
    }

    .slider_list .list_info p{
        font-size:12rem;
        padding:194px 0 65px;
    }

    .slider_list .list_info a{
        width: 360px; height: 98px; 
        line-height: 110px;
    }

    /* section discover */
    /* discover top_list */
    .discover .top_list{
        width:100%;
        height:600px;
        display:flex;
    }

    .top_list .text{
        width:50%;
        height:600px;
    }

    .top_list .text p{
        font-size:7.8rem;
        line-height:120px;
    }
    
    .top_list .video{
        width:50%;
        height:100%;
        padding-top:50%;
    }

    /* discover_list */
    .discover_list{
        width:100%;
    }

    .discover_slider_ix3, .discover_slider_ix, .discover_slider_i4{
        padding:44px 0 27px;
        margin-right:20px;
    }

    .discover_slider_ix3 .discover_info, .discover_slider_ix .discover_info, .discover_slider_i4 .discover_info{
        width:91.11%;
        padding-bottom:55%;
        margin-bottom:47px;
    }

    .discover_slider_ix3 a, .discover_slider_ix a, .discover_slider_i4 a{
        width: 280px; 
        height: 50px;
        border: none;
        background:#f2f2f2;
        color: #000; 
        font-family: 'SBAggroM';
        font-size: 2.4rem; 
        line-height: 55px;
    }

    .discover_info_text{
        line-height:40px;
    }

    .discover_info_text p{
        font-size:2rem;
    }

    .discover_info_text span{
        font-size:3.2rem;
    }
    
    .discover_btn{
        margin:51px 0 20px;
    }
    
    .discover_btn .prevArrow{
        width:53px;
        height:53px;
    }
    
    .discover_btn .nextArrow{
        width:53px;
        height:53px;
        margin-left:30px;
    }

    /* section use */
    .use{
        width:100%;
        height:890px;
        display:flex;
        background:#0867b0;
        padding:0px;
    }

    .content_u{
        width: 41.504%;
        height:890px;
        text-align: center;
    }

    svg{
        width: 80%;
        height: 80%;
    } 

    .use_list{
        width:58.496%;
    }

    .use_rect{
        width:50%;
        height:890px;
        padding:100px 0 60px;
        margin:0px;
    } 

    .center, .plus, .vantage{
        width:86.667%;
        padding-bottom:50%;
        border-radius:300px;
    }

    .use_rect a p{
        color:#000;
        font-family: 'SBAggroB';
        font-size:7.2rem;
        line-height:90px;
        margin-top:75px;
    }

    .use_rect a p:after{
        width: 180px;
        margin: 10px auto 70px;
    }

    .use_rect a span{
        font-size:3.6rem;
    }

    .use_btn{
        display:none;
    }

    /* footer */
    .footer{
        width:100%;
        display:block;
        padding:40px 5.5% 20px;
        text-align:center;
    }

    .logo_footer{
        text-align:left;
        margin-bottom:35px;
    }
    
    .logo_footer img{
        width:83px;
        height:83px;
    }

    .footer_text{
        width:100%;
        display:inline-block;
        text-align:left;
    }

    .bmw{
        width:250px;
        font-family: 'SBAggroM';
        font-size:3.6rem;
        line-height:50px;
        text-align:left;
        padding:0;
        margin-right:0px;
        vertical-align:top;
        float:left;
    }

    .mobile{
        display:none;
    }

    .footer_list{
        width:auto;
        float:right;
    }

    .bmw_list{
        width:auto;
        display:inline-block;
        padding:0;
    }

    .bmw_list li{
        text-align:left;
    }
    
    .bmw_list > li{
        width:auto;
        float:left;
        margin-left:77px;
    }

    .bmw_list>li>a{
        font-family: 'SBAggroL';
        font-size:1.8rem;
        line-height:32px;
    }
        
    .sub_list>li>a{
        font-family: 'SBAggroL';
        font-size:1.4rem;
        line-height:24px
    }

    .footer_top .footer_list:after {
        display: none;
    }

    .footer_top:after{
        content: "";
        display: block;
        width: 100%;
        border-bottom: 1px solid #000;
        margin: 20px auto;
    }

    .footer_bottom .sns{
        width: 100%;
        text-align: right;
    }

    .footer_bottom .sns a {
        display: inline-block;
        width: 35px; height: 35px; margin-right: 30px;
        text-align:left;
    }

    /* company.html */
    .bmw_intro, .ix_intro{
        height:800px;
        padding:0px 3%;
    }

    .intro_text{
        text-align: left;
        padding-top:330px;
    }

    .intro_text h2{
        font-size:10rem;
        line-height:70px;
    }
    
    .intro_text span{
        font-size:5rem;
    }

    .intro_text:after{
        width: 215px;
        margin-left:0px;
    }

    .intro_info{
        width: 100%;
        font-size:2.4rem;
        line-height:48px;
        text-align:left;
    }
    /* company.html - intro section */
    .korea, .social, .vision, .finance{
        height:915px;
    }
    
    .total_list_l, .total_list_r{
        display:flex;
    }

    .total_list_r{
        flex-direction:row-reverse;
    }

    #particles-js, #particles-js3{
        width:43.36%;
        height:915px;
        background-color: #ffffff;
        background-image: url('');
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        position: absolute;
        z-index:0;
    }

    #particles-js2, #particles-js4{
        width:43.36%;
        height:915px;
        background-color: #000;
        background-image: url('');
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        position: absolute;
        z-index:0;
    }

    .text_part_l, .text_part_r{
        width: 43.36%;
        height:915px;
    }

    .list_part_r, .list_part_l{
        width: 56.64%;
        height:915px;
    }

    .text_part_l h2{
        font-size:12rem;
        line-height:80px;
        text-align:left;
        position:absolute;
        top:50%;
        left:10%;
        transform:translateY(-50%);
    }

    .text_part_r h2{
        font-size:12rem;
        line-height:80px;
        text-align:right;
        position:absolute;
        top:50%;
        right:10%;
        left:0%;
        transform:translateY(-50%);
    }

    .text_part_l span, .text_part_r span{
        font-size:6rem;
    }

    .text_part_l h2:after{
        width: 220px;
        border-bottom: 2px solid #000;
        margin-left:0px;
        padding-top:5px;
    }
    
    .vision .text_part_l h2:after{
        width: 90px;
        padding-top:5px;
    }
    
    .text_part_r h2:after{
        width: 220px;
        margin-right:0px;
        padding-top:5px;
    }

    .korea .list_img, .social .list_img, .vision .list_img, .finance .list_img{
        width:89.655%;
        height:350px;
    }

    .list_part_info_r, .list_part_info_l{
        width:89.655%;
        font-size:2.4rem;
        line-height:48px;
        text-align: left;
        padding-top:40px;
    }
    /* company.html - bmw korea section ~ bmw finance section */
    .content_com{
        height:1000px;
    }

    .company_discover{
        width: 100%;
        height:1000px;
        padding: 100px 7.33% 30px;
    }

    .dis_img{
        width:94.14%;
        height: 380px;
        margin-bottom:50px;
        background:url('../img/p_image/company/section6_list_bg.png') 50% 30%/cover no-repeat;

    }

    .dis_img p{
        font-size:7rem;
    }

    .dis_list{
        width:93.361%;
    }
    
    .list1{
        width: 26.239%;
        height:138px;
    }

    .list1 a{
        font-size:2.6rem;
        line-height:36px;
    }
    /* model.html */
    .top_rec .text_rec{
        height:320px;
    }

    .top_rec .text_rec_t{
        font-size:9rem;
        line-height:120px;
    }

    .recommend_slider_cope, .recommend_slider_sport, .recommend_slider_plus{
        padding:20px 0 20px;
    }

    .recommend_info{
        width:91.146%;
    }

    .recommend_slider_cope a, .recommend_slider_sport a, .recommend_slider_plus a{
        width: 250px; 
        height: 50px;
        font-size: 2rem; 
        line-height: 55px;
    }
    
    .recommend_info_text p{
        font-size:1.8rem;
        line-height:25px;
    }

    .distance, .speed, .iDrive, .assistance, .design{
        height:915px;
    }

    
    .ix_total_list_l, .ix_total_list_r{
        display:flex;
    }

    .ix_total_list_r{
        flex-direction:row-reverse;
    }

    .ix_text_part_l, .ix_text_part_r{
        width: 43.36%;
        height:915px;
    }

    .ix_list_part_r, .ix_list_part_l{
        width: 56.64%;
        height:915px;
    }

    .ix_text_part_l h2{
        font-size:7.7rem;
        line-height:100px;
        text-align:left;
        position:absolute;
        top:50%;
        left:10%;
        transform:translateY(-50%);
    }

    .ix_text_part_r h2{
        font-size:7.8rem;
        line-height:100px;
        text-align:right;
        position:absolute;
        top:50%;
        right:10%;
        left:0%;
        transform:translateY(-50%);
    }

    .distance .ix_text_part_l h2{
        font-size:6.7rem;
        line-height:90px;
    }
    
    .distance .ix_list_img, .speed .ix_list_img, .iDrive .ix_list_img, .assistance .ix_list_img, .design .ix_list_img{
        width:89.655%;
        height:350px;
    }

    .ix_list_part_info_r, .ix_list_part_info_l{
        width:89.655%;
        font-size:2.4rem;
        line-height:48px;
        text-align: left;
        padding-top:40px;
    }
}

/* PC */
@media all and (min-width:1300px){
    /* reset */
    .pc {display: block;}
    .mobile {display:none;}

    .login{
        width:206px;
        height:57px;
        line-height:57px;
    }

    /* section01_welcome CSS */
    .visual .welcomeInfo{
        top:350px;
    }

    .welcomeInfo a{
        margin-top:200px;
    }

    /* section_logo */
    .logo_big .logoBg{
        width:300px;
        height:300px;
    }

    /* section list */
    .list_slider_x7,  .list_slider_i7, .list_slider_online{
        height:650px;
    }

    /* section discover */
    /* discover top_list */
    .discover .top_list{
        height:970px;
    }

    .top_list .text{
        width:36.458%;
        height:970px;
    }

    .top_list .text p{
        font-size:7.3rem;
        line-height:120px;
    }

    .top_list .video{
        width:63.542%;
        height:100%;
        padding-top:50%;
    }

    /* discover_list */
    .discover_slider_ix3, .discover_slider_ix, .discover_slider_i4{
        padding:44px 0 27px;
        margin-right:20px;
    }

    .discover_slider_ix3 .discover_info, .discover_slider_ix .discover_info, .discover_slider_i4 .discover_info{
        width:91.11%;
        padding-bottom:55%;
        margin-bottom:47px;
    }

    .discover_slider_ix3 a, .discover_slider_ix a, .discover_slider_i4 a{
        width: 350px; 
    }
    
    .discover_btn{
        margin:51px 0 50px;
    }

    /* section use */
    .content_u{
        width: 50%;
    }

    .use_list{
        width:50%;
    }

    .center, .plus, .vantage{
        width:78.125%;
        padding-bottom:40%;
        border-radius:300px;
    }

    .use_rect a span{
        color:#000;
        font-family: 'SBAggroL';
        font-size:3.6rem;
    }

    /* company.html */
    .bmw_intro, .ix_intro{
        padding:0px 15.625%;
    }

    /* company.html - intro section */
    #particles-js, #particles-js3{
        width:50%;
        height:915px;
        background-color: #ffffff;
        background-image: url('');
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        position: absolute;
        z-index:0;
    }

    #particles-js2, #particles-js4{
        width:50%;
        height:915px;
        background-color: #000;
        background-image: url('');
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        position: absolute;
        z-index:0;
    }

    .text_part_l, .text_part_r{
        width: 50%;
        position:relative;
    }
    
    .list_part_r, .list_part_l{
        width: 50%;
    }
    
    .text_part_l h2, .text_part_r h2{
        font-size:13rem;
        line-height:80px;
        text-align:center;
        position:absolute;
        top:50%;
        left:50%;
        right:0%;
        transform:translate(-50%, -50%);
    }

    .text_part_l span, .text_part_r span{
        font-size:6rem;
        text-align:center;
    }

    .text_part_l h2:after{
        width: 220px;
        margin:0px auto;
    }
    
    .vision .text_part_l h2:after{
        width: 90px;
        margin:0px auto;
    }
    
    .text_part_r h2:after{
        width: 220px;
        margin:0px auto;
    }

    .korea .list_img, .social .list_img, .vision .list_img, .finance .list_img{
        width:86.458%;
        height:420px;
    }

    .list_part_info_r, .list_part_info_l{
        width:86.458%;
    }
    /* company.html - bmw korea section ~ bmw finance section */

    .company_discover{
        padding: 120px 15.625% 70px;
    }

    .dis_img{
        width:100%;
        height: 400px;
        background:url('../img/p_image/company/section6_list_bg.png') 50% 30%/cover no-repeat;
        margin-bottom:20px;
    }

    .dis_list{
        width:86.363%;
    }
    
    .list1{
        width: 22.807%;
        height:136px;
        margin-top:60px;
        margin-right:100px;
    }

    .list1:nth-of-type(3n){
        margin-right:0px;
    }

    .ix_text_part_l, .ix_text_part_r{
        width: 50%;
        position:relative;
    }
    
    .ix_list_part_r, .ix_list_part_l{
        width: 50%;
    }
    
    .ix_text_part_l h2, .ix_text_part_r h2{
        width: 100%;
        font-size:12rem;
        line-height:130px;
        text-align:center;
        position:absolute;
        top:50%;
        left:50%;
        right:0%;
        transform:translate(-50%, -50%);
    }

    .distance .ix_text_part_l h2{
        width: 100%;
        font-size:10.8rem;
        line-height:120px;
    }

    .distance .ix_list_img, .speed .ix_list_img, .iDrive .ix_list_img, .assistance .ix_list_img, .design .ix_list_img{
        width:86.458%;
        height:420px;
    }

    .ix_list_part_info_r, .ix_list_part_info_l{
        width:86.458%;
    }
}